<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Add this element -->
	<configSections>
		<section
			name="hibernate-configuration"
			type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
	</configSections>

	<!-- Add this element -->
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
			<property name="connection.connection_string">Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DemoDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</property>
			<mapping assembly="DemoNHibernate" />
		</session-factory>
	</hibernate-configuration>
</configuration>